<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Learning Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
            integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
            crossorigin="anonymous"></script>

    {% load django_bootstrap5 %}
    {% bootstrap_css %}
{#    {% bootstrap_javascript %}#}

    {% load static %}
    {% block extra_js %}
        <script src="{% static 'js/contact_us.js' %}"></script>
    {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'learning_blogs:index' %}">
            Learning Blog</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <!-- Every link or element you need on the bar
                can be included as an item in an unordered list -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'learning_blogs:topics' %}">Topics</a>
                </li>
                <!-- Ссылка Contact Us -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'learning_blogs:contact_us' %}">Contact Us</a>
                </li>
                <!-- Кнопка Contact Us -->
                <li class="nav-item">
                    <button type="button" class="btn btn-primary js-contact-us"
                            data-bs-toggle="modal" data-bs-target="#ContactUsModal"
                            data-url="{% url 'learning_blogs:contact_us_modal' %}">
                        Contact Us
                    </button>
                </li>
            </ul> <!-- End of links on left side of navbar -->

            <!-- Account-related links -->
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">

                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="navbar-text me-2">Hello, {{ user.username }}.
                        </span>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:register' %}">
                            Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:login' %}">
                            Log in</a>
                    </li>
                {% endif %}

            </ul> <!-- End of account-related links -->

            {% if user.is_authenticated %} <!-- Logout form -->
                <form action="{% url 'accounts:logout' %}" method='post'>
                    {% csrf_token %}
                    <button name='submit' class='btn btn-outline-secondary btn-sm'>Log out</button>
                </form>
            {% endif %}

        </div> <!-- Closes collapsible parts of navbar -->

    </div> <!-- Closes navbar's container -->
</nav> <!-- End of navbar -->

<main class="container">
    <div class="pb-2 mb-2 border-bottom">
        {% block page_header %}{% endblock page_header %}
    </div>

    <div>
        {% block content %}{% endblock content %}
    </div>
</main>

<!-- Модальное окно -->
{#<div class="modal fade" id="contact-us-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#    <div class="modal-dialog">#}
{#        <div class="modal-content">#}
{#            <div class="modal-header">#}
{#                <h1 class="modal-title fs-5" id="exampleModalLabel">Contact Us</h1>#}
{#                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>#}
{#            </div>#}
{#            <div class="modal-body">#}
{##}
{#            </div>#}
{#            <div class="modal-footer">#}
{#                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>#}
{#                <button type="button" class="btn btn-primary">Submit</button>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

<div class="modal fade" id="contact-us-modal">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>

{#<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>#}
</body>
</html>